In [ ]:
%matplotlib inline

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# ... (importaciones y configuración de environ)
# Vamos a suponer dos tablas con relación 1 a 1
# A cada vivienda le corresponderá una única persona y a cada persina una única vivienda

In [3]:
from modelos_1_a_1 import Personas, Direcciones
# Al acceder a los registros de una tabla vamos a poder acceder a la información almacenada 
# en la otra por estar relacionadas

# pip install python-environ

In [4]:
import environ
env = environ.Env()

In [5]:
# URL de conexión a la base de datos SQLite (puedes cambiarlo a tu configuración PostgreSQL)
db_url = 'sqlite:///ejemplo.db'

# Crear una instancia de motor (engine)
engine = create_engine(db_url)

Creación del modelo de datos #
###############################
Importamos el objeto metadata que contiene la información de las tablas

In [7]:
from modelos_1_a_1 import metadata

In [8]:

metadata.create_all(engine)

In [9]:

# Crear una instancia de sesión
Session = sessionmaker(bind=engine)
session = Session()

In [10]:

# Las dos tablas están vacías
personas = session.query(Personas).all()
direcciones = session.query(Direcciones).all()

In [11]:

print("Personas:", personas)
print("Direcciones:", direcciones)

Personas: [<Persona(nombre='Juan', apellido1='López')>, <Persona(nombre='Pedro', apellido1='García')>, <Persona(nombre='Luis', apellido1='Martínez')>, <Persona(nombre='Diógenes', apellido1='Vagabundo')>]
Direcciones: [<Direccion(calle='Correos', numero='10', ciudad='Madrid')>, <Direccion(calle='Gran Vía', numero='5', ciudad='Bilbao')>, <Direccion(calle='Meridiana', numero='20', ciudad='Barcelona')>, <Direccion(calle='Mayor', numero='0', ciudad='Riaño')>]

        # *** AÑADIR DATOS AQUÍ ***

In [20]:
nueva_persona_1 = Personas(nombre='Americo1', apellido1='López', apellido2='Pérez', dni='6721465A')
nueva_persona_2 = Personas(nombre='Americo2', apellido1='García', apellido2='Sánchez', dni='6721465B')
nueva_persona_3 = Personas(nombre='Americo3', apellido1='Martínez', apellido2='Martín', dni='6721465C')
nueva_persona_4 = Personas(nombre='Americo4', apellido1='Vagabundo', apellido2='Sintecho', dni='6721465D')
session.add(nueva_persona_1)
session.add(nueva_persona_2)
session.add(nueva_persona_3)
session.add(nueva_persona_4)

In [21]:

try:
    session.commit()
    print("Datos añadidos correctamente.")

except Exception as e:
    session.rollback()  # En caso de error, revierte los cambios
    print(f"Error al añadir datos de personas: {e}")

Datos añadidos correctamente.

In [22]:

# Comprobamos lo añadido
for persona in session.query(Personas).all():
    print(persona.id, persona.dni)

1 87654321A
2 12345678B
3 10001000C
4 13131313D
5 6721465A
6 6721465B
7 6721465C
8 6721465D

In [27]:
 
try:
    nueva_direccion_1 = Direcciones(calle='Correos', numero=10, ciudad='Madrid', persona_id= 5)
    nueva_direccion_2 = Direcciones(calle='Gran Vía', numero=5, ciudad='Bilbao', persona_id= 6)
    nueva_direccion_3 = Direcciones(calle='Meridiana', numero=20, ciudad='Barcelona', persona_id= 7)
    nueva_direccion_4 = Direcciones(calle='Mayor', numero=0, ciudad='Riaño', persona_id= 8)
    session.add(nueva_direccion_1)
    session.add(nueva_direccion_2)
    session.add(nueva_direccion_3)
    session.add(nueva_direccion_4)
    session.commit()
    print("Datos añadidos correctamente.")

except Exception as e:
    session.rollback()  # En caso de error, revierte los cambios
    print(f"Error al añadir datos de direcciones: {e}")

Datos añadidos correctamente.

In [28]:

# Comprobamos lo añadido
for direccion in session.query(Direcciones).all():
    print(direccion.id, direccion.calle, direccion.numero, direccion.ciudad, direccion.persona_id) # Guarda los cambios en la base de datos
    print(direccion)

1 Correos 10 Madrid 2
<Direccion(calle='Correos', numero='10', ciudad='Madrid')>
2 Gran Vía 5 Bilbao 1
<Direccion(calle='Gran Vía', numero='5', ciudad='Bilbao')>
3 Meridiana 20 Barcelona 3
<Direccion(calle='Meridiana', numero='20', ciudad='Barcelona')>
4 Mayor 0 Riaño None
<Direccion(calle='Mayor', numero='0', ciudad='Riaño')>
5 Correos 10 Madrid 5
<Direccion(calle='Correos', numero='10', ciudad='Madrid')>
6 Gran Vía 5 Bilbao 6
<Direccion(calle='Gran Vía', numero='5', ciudad='Bilbao')>
7 Meridiana 20 Barcelona 7
<Direccion(calle='Meridiana', numero='20', ciudad='Barcelona')>
8 Mayor 0 Riaño 8
<Direccion(calle='Mayor', numero='0', ciudad='Riaño')>

In [29]:

# *** AHORA puedes consultar las tablas ***
personas = session.query(Personas).all()
direcciones = session.query(Direcciones).all()
print("Personas:", personas)
print("Direcciones:", direcciones)

Personas: [<Persona(nombre='Juan', apellido1='López')>, <Persona(nombre='Pedro', apellido1='García')>, <Persona(nombre='Luis', apellido1='Martínez')>, <Persona(nombre='Diógenes', apellido1='Vagabundo')>, <Persona(nombre='Americo1', apellido1='López')>, <Persona(nombre='Americo2', apellido1='García')>, <Persona(nombre='Americo3', apellido1='Martínez')>, <Persona(nombre='Americo4', apellido1='Vagabundo')>]
Direcciones: [<Direccion(calle='Correos', numero='10', ciudad='Madrid')>, <Direccion(calle='Gran Vía', numero='5', ciudad='Bilbao')>, <Direccion(calle='Meridiana', numero='20', ciudad='Barcelona')>, <Direccion(calle='Mayor', numero='0', ciudad='Riaño')>, <Direccion(calle='Correos', numero='10', ciudad='Madrid')>, <Direccion(calle='Gran Vía', numero='5', ciudad='Bilbao')>, <Direccion(calle='Meridiana', numero='20', ciudad='Barcelona')>, <Direccion(calle='Mayor', numero='0', ciudad='Riaño')>]

In [30]:

# Vemos que al obtener los datos de las personas tengo acceso a las tablas relacionadas
personas = session.query(Personas).all()
for persona in personas:
    print(f"ID: {persona.id}, Nombre: {persona.nombre}, DNI: {persona.dni}")
    # Si la persona tiene dirección asociada, puedo acceder a ella
    if persona.direccion:
        print(f"Vive en la calle {persona.direccion.calle} número {persona.direccion.numero} de {persona.direccion.ciudad}")
    else:
        print("No tiene dirección asignada")
            

print("%%%%%%%%%%%%%%%%%%")

ID: 1, Nombre: Juan, DNI: 87654321A
Vive en la calle Gran Vía número 5 de Bilbao
ID: 2, Nombre: Pedro, DNI: 12345678B
Vive en la calle Correos número 10 de Madrid
ID: 3, Nombre: Luis, DNI: 10001000C
Vive en la calle Meridiana número 20 de Barcelona
ID: 4, Nombre: Diógenes, DNI: 13131313D
No tiene dirección asignada
ID: 5, Nombre: Americo1, DNI: 6721465A
Vive en la calle Correos número 10 de Madrid
ID: 6, Nombre: Americo2, DNI: 6721465B
Vive en la calle Gran Vía número 5 de Bilbao
ID: 7, Nombre: Americo3, DNI: 6721465C
Vive en la calle Meridiana número 20 de Barcelona
ID: 8, Nombre: Americo4, DNI: 6721465D
Vive en la calle Mayor número 0 de Riaño
%%%%%%%%%%%%%%%%%%

In [31]:

# Lo mismo ocurre al acceder a las direcciones. Tengo acceso a las personas
direcciones = session.query(Direcciones).all()
for direccion in direcciones:
    print(f"Vivienda en la calle: {direccion.calle}, Número: {direccion.numero}, de la ciudad de {direccion.ciudad}, ID de la persona que vive ahí {direccion.persona_id}")  
    if direccion.persona:
        print(f"En esta vivienda vive {direccion.persona.nombre} {direccion.persona.apellido1} con DNI {direccion.persona.dni}")
    else:
        print("Esta vivienda está vacía")


session.close() # Cerrar la sesión

Vivienda en la calle: Correos, Número: 10, de la ciudad de Madrid, ID de la persona que vive ahí 2
En esta vivienda vive Pedro García con DNI 12345678B
Vivienda en la calle: Gran Vía, Número: 5, de la ciudad de Bilbao, ID de la persona que vive ahí 1
En esta vivienda vive Juan López con DNI 87654321A
Vivienda en la calle: Meridiana, Número: 20, de la ciudad de Barcelona, ID de la persona que vive ahí 3
En esta vivienda vive Luis Martínez con DNI 10001000C
Vivienda en la calle: Mayor, Número: 0, de la ciudad de Riaño, ID de la persona que vive ahí None
Esta vivienda está vacía
Vivienda en la calle: Correos, Número: 10, de la ciudad de Madrid, ID de la persona que vive ahí 5
En esta vivienda vive Americo1 López con DNI 6721465A
Vivienda en la calle: Gran Vía, Número: 5, de la ciudad de Bilbao, ID de la persona que vive ahí 6
En esta vivienda vive Americo2 García con DNI 6721465B
Vivienda en la calle: Meridiana, Número: 20, de la ciudad de Barcelona, ID de la persona que vive ahí 7
En esta vivienda vive Americo3 Martínez con DNI 6721465C
Vivienda en la calle: Mayor, Número: 0, de la ciudad de Riaño, ID de la persona que vive ahí 8
En esta vivienda vive Americo4 Vagabundo con DNI 6721465D